@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}

.active {
  color: #DB2777;
}

.bg-space {
    background-image: url('../src/assets/icon/magic-bg8.png');
    background-color: #001D39;
    background-size: 50%;
    background-position-x: right;
    background-repeat: repeat-y;
}
.bg-skills {
    background-image: url('../src/assets/icon/pink-monster2.png');
    background-color: #001D39;
    background-size: 10%;
    background-position: 95% 95%;
    background-repeat: no-repeat;
}
.bg-contact {
    background-image: url('../src/assets/icon/pink-monster.png');
    background-color: #001D39;
    background-size: 10%;
    background-position: 95% 95%;
    background-repeat: no-repeat;
}
.bg-default {
    background-color: #001D39;
} 
